<div class="card shadow-effect">
  <img
    class="card-img-top"
    src="https://images.pexels.com/photos/17056136/pexels-photo-17056136/free-photo-of-dia-de-la-dona.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
    alt="Card image cap"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center px-3 ">Featured</small>
    <small class="bg-light text-info text-center px-3 ">Views - 132</small>

    <h5 class="mt-1">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, aut!
    </h5>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, fuga
      iure. Repellat illo quis dolore repellendus earum alias, error quos
      quidem! Dolorum, labore.
    </p>

    <small class="bg-light text-warning text-center px-3"
      >Last Update - SEP 20, 2023</small
    >
  </div>
</div>
