<div class="card shadow-effect" *ngIf="postData" [routerLink]="['/post',postData.id]">
  <img
    class="card-img-top"
    src="{{ postData.postImgPath }}"
    alt="Card image cap"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center">{{
      postData.category.category
    }}</small>
    <small class="bg-light text-success text-center px-3" *ngIf="postData.isFeatured">Featured</small>
    <small class="bg-light text-info text-center px-3">{{
      postData.views
    }}</small>

    <h5 class="mt-1">
      {{ postData.title }}
    </h5>
    <p>
      {{ postData.excerpt }}
    </p>

    <small class="bg-light text-warning text-center px-3"
      >Last Update - {{ postData.createdAt.toMillis() | date }}</small
    >
  </div>
</div>
