<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="https://images.pexels.com/photos/16977664/pexels-photo-16977664/free-photo-of-el-cielo-tambien-es-lila.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
          alt=""
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center px-3">Featured</small>
          <small class="bg-light text-info text-center px-3">Views - 132</small>
          <small class="bg-light text-warning text-center px-3"
            >Last Update - SEP 20, 2023</small
          >

          <h1 class="mt-3 mb-3">Lorem ipsum dolor sit amet.</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit
            possimus eius, enim cumque ipsam reprehenderit libero, ex illo ab
            quisquam officiis sapiente aliquid! A quos labore eveniet voluptas
            dolorum, laudantium nobis ipsa dolore. Blanditiis, assumenda ex
            debitis, eos quo pariatur, illum quidem dolore voluptatem dolorem
            possimus corporis mollitia ut. Hic consequuntur aliquam beatae
            asperiores molestias, voluptate omnis illo laborum commodi accusamus
            dicta nobis sapiente exercitationem inventore reprehenderit rem
            sint. Inventore itaque vel ipsa corporis voluptas velit fugit
            voluptatum doloribus illo sapiente, quis debitis aperiam sint quae
            rem facere obcaecati odio harum deserunt, laudantium, numquam neque!
            Quis officiis maiores sed tenetur. Lorem ipsum, dolor sit amet
            consectetur adipisicing elit. Quae cupiditate cum at quas vel! Non
            voluptatibus magnam asperiores? Ex nesciunt quis porro non nemo
            soluta, est inventore repellat sint quas eum quaerat ipsam corrupti
            nostrum iure fugit voluptatem excepturi. Quaerat eius aspernatur
            magnam maxime vitae est porro dignissimos voluptates dolor explicabo
            ex cum assumenda sequi quas laboriosam mollitia omnis nulla
            provident consequuntur veritatis necessitatibus, quae quo
            distinctio. Culpa sapiente voluptates itaque possimus doloribus
            recusandae rem fuga commodi, eos a dignissimos ad temporibus
            repellat totam illo magni ex minima error quia. Incidunt quia veniam
            cupiditate, voluptates perspiciatis excepturi, laboriosam id quam
            labore eum laborum! Mollitia vitae distinctio ea quod quidem sequi
            temporibus obcaecati, nam pariatur voluptatum debitis magni
            aspernatur, culpa totam recusandae fugiat incidunt officia deserunt
            deleniti accusamus exercitationem placeat! Pariatur laboriosam at
            corporis excepturi expedita doloremque corrupti culpa fugiat,
            architecto est optio illo quia! Quisquam nemo similique iure
            corporis ratione, officia placeat doloribus, quasi qui facere
            excepturi eum voluptatem minima necessitatibus molestiae libero
            veniam cum in atque eius illo? Velit aliquam porro architecto sequi
            beatae ducimus sed natus soluta labore consequuntur, ut blanditiis,
            molestiae obcaecati numquam excepturi quos, unde sint saepe vel
            nulla modi adipisci inventore tempore quis? Hic, a.
          </p>
        </div>
      </div>
      <div class="comment">
        <app-comment-form></app-comment-form>
        <app-comment-list></app-comment-list>
      </div>
    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
