<div class="container" *ngIf="postData$ | async as postData">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="{{ postData.postImgPath }}"
          alt=""
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">{{
            postData.category.category
          }}</small>
          <small class="bg-light text-success text-center px-3" *ngIf="postData.isFeatured">Featured</small>
          <small class="bg-light text-info text-center px-3"
            >Views - {{ postData.views }}</small
          >
          <small class="bg-light text-warning text-center px-3"
            >Last Update - {{ postData.createdAt.toMillis() | date }}</small
          >

          <h1 class="mt-3 mb-3">{{ postData.title }}</h1>
          <p [innerHTML]="postData.content"></p>
        </div>
      </div>
      <div class="comment">
        <app-comment-form></app-comment-form>
        <app-comment-list></app-comment-list>
      </div>
    </div>
    <div class="col-md-3" style="background-color: green">
      <!-- <div *ngIf="categoryPosts$ | async as categoryData">
        <app-post-card [postData]="categoryData"></app-post-card>
      </div> -->
      <ng-container *ngFor="let categoryData of categoryPosts$ | async">
        <app-post-card [postData]="categoryData"></app-post-card>
      </ng-container>
    </div>
  </div>
</div>
