<section class="featured-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <h2 class="text-white">Featured Post</h2>
        <p class="text-white">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe error
          illum, nemo voluptate rem harum inventore
        </p>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-3"
        *ngFor="let featuredPost of featuredPostData$ | async"
      >
        <app-post-card [postData]="featuredPost"></app-post-card>
      </div>
    </div>
  </div>
</section>
<section class="letest-post-section container mt-5">
  <div class="col-md-12 text-center mt-5">
    <h2>Letest Post</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe error
      illum, nemo voluptate rem harum inventore
    </p>
  </div>
  <div class="row">
    <div
      class="col-md-4 mt-3"
      *ngFor="let letestPost of letestPostData$ | async"
    >
      <app-post-card [postData]="letestPost"></app-post-card>
    </div>
  </div>
</section>
